*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/********* Header *****/

.header-info-content{
    width: 100%;
    background-color: #28a745;
    padding: 0.5rem;
    color:  #000;
}

.header-info-content a[href*='.com']{
    color: black;
}

.header-info-content a[href*='tel']{
    color: black;
}

#navbarHeader{
    background-color: black;
    color: #fff;
}


.navbar.navbar-dark.shadow-sm{  
    background-color: black;
}

.container.d-flex.justify-content-between a {
    color: #fff
}


/*********************************************/

