*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



/********* Header *****/

.header-info-content {
    background-color: #28a745;
    padding: 0.5rem;
    margin: 0;
    color:  #000;
}

.header-info-content a[href*='.com']{
    color: black;
}

.header-info-content a[href*='tel']{
    color: black;
} 

#navbarHeader{
    background-color: black;
    color: #fff;
}


.navbar.navbar-dark.shadow-sm{  
    background-color: black;
}

.container.d-flex.justify-content-between a {
    color: #fff
}


/*********************************************/

.block-text{
    color: #fff;
    background-color: #28a745;
    text-align: center;
    padding: 2rem 0 2rem 0;
}

.block-text small{
    font-weight: 600;
    font-family: 'Courgette', cursive;   
}

/****************************************************/


.home-ser-box .col-md-6{
    padding-left: 0;
    padding-right: 0;
}

.boxs row{
    margin: 0;
}

.home-ser-img{
    height: 250px;
    width: 100%;
    overflow: hidden;
}

.home-ser-cont{
    color: #fff;
    padding-top: 3rem;
}

.home-ser-cont{
    background-image: url('../images/black-bg.jpg');
    padding: 25px;
    min-height: 250px;
   
} 

.home-ser-cont h3 {
    font-size: 32px;
    font-family: 'Italianno', cursive;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0;
}

.home-ser-cont p {
    color: #fff;
    margin-top: 15px;
}

.home-ser-cont .read-more a {
    font-size: 14px;
    color: #fff;
    border: 1px solid #fff;
    padding: 7px 12px;
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
}

.home-ser-cont .read-more a:hover {
    background: #28a745;
} 


/**********************************/

.paralax{
    min-height: 500px;
    background-image: url('../images/app-bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.paralax h2{ 
    font-family: 'Italianno', cursive;
    text-align: center;
    color: #28a745;
    padding-top: 4rem;
}

.paralax p{
    text-align: justify;
    color: #fff;
}

.paralax .img-fluid{
    padding-top: 4rem;
}

/************ About Us*************/

.about-us p{
    text-align: justify;
    color: #000;
}

/************ About us second *************/

.about-us-second .container-fluid{
    background-color: #28a745;
    color: #000;
    padding: 2em;
    text-align: justify;
}

/************ Tours *************/

.tours{
    margin-top: 1em;
    color: #000;
}

.tours p, .card-title{
    margin-top: 1em;
    color: #000;
}

/********** Rates **************/

.rates{
    padding: 3em 0 3em 0;
    background-color: #28a745;
    color: #000;
   
}

.rates ul li, p, h5{
   list-style-image: url('../images/tick.png'); 
   list-style-position: inside;
   color: #fff;
   
}

/******* Contact ***********/
.contact{
    padding: 3em 0 2em 0;
}

.contact p{
    color: #000;
    line-height: 0.5em;
}

.contact a{
    color: #28a745;
}

.contact .form-group .worning{
   color: red;
}

.contact .form-group input{
    display: inline-block;
}

.contact .form-group .capcha{
    font-family: 'Fredericka the Great', cursive;
    font-size: 2em;
    vertical-align: middle;
}

.contact .btn-success{
    border: none;
}

.contact .btn-success:hover{
    background-color: #000;
} 

/************** FOOTER ***********/

.footer{
    background-image: url('../images/black-bg.jpg');   
}


.footer small{
    font-family: 'Courgette', cursive;  
    color: #28a745;
}

.footer a{
    color: #28a745;
}

.footer h5{
    margin-bottom: 2rem;
}

.footer {
    margin: 1rem;
    margin: 0;
    padding: 2em 0 2em 0;
    /* padding-left: 0; */
}
.footer ul>li{
    list-style-type: none;
    padding: 0.2em;
}

.footer .ser-box a, 
.footer .links-box a{
    color: #fff;
}

.footer .ser-box a:hover{
    color: #28a745;
} 

.footer .links-box a:hover{
    color: #28a745;
}


.footer h5 a {
    color: #fff;
    font-size: 0.8em;
}

.footer hr{
    background-color: #fff;
}


.footer  
.fa-facebook-f, 
.fa-twitter, 
.fa-google-plus-g,
.fa-linkedin-in{
    display: inline;
    color: inherit;
    font-size: inherit;
}


.footer span{
    display: inline-block;
    width: 15%;
    text-align: center;
    border: 1px solid #fff;
    padding: 5px;
}


.fa-facebook-f, 
.fa-twitter, 
.fa-google-plus-g,
.fa-linkedin-in, 
a:hover{
    text-decoration: none;
}

.footer .social h5{
    margin: 0;
} 


/************ Anchor ***********/

#anchor{
    display: none;
    z-index: 9999;
    position: fixed;
    bottom: 5%;
    right: 5%;
}